
#Itried {
  background-image: url('../image/Untitled-18.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;
}

#Bruh {
  background-image: url('../image/Group-12.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;
}

#Reviewlol {
  background-image: url('../image/Group-11.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;
}

#Location {
  background-image: url('../image/Group 10.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;
}

#index2 {
  background-image: url('../image/Group 10.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;
}
